* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*For PCs*/
@media screen and (min-width: 1200px) {
  .header {
    overflow: hidden;
    background-color: royalblue;
    padding: 20px 10px;
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0 0 0 200px;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .dropdown {
    display: none;
  }

  #search-icon {
    float: left;
  }

  .header-right {
   /* display: inline-block;*/
    /*float: left;*/
    margin: 0 50px 0 500px;
  }

  .head-image {
    width: 100%;
    height: 400px;
    /*background-image: url("../images/Banner.jpg");
    background-size: cover;*/
  }

  section {
    width: 60%;
    margin: 10px 20%;
  }

  section h3 {
    text-align: center;
  }


  #our-team h4 {
    font-weight: bold;
  }

  #our-team p {
    font-size: 11px;
  }

  footer {
    width: 100%;
    height: 300px;
    background-color: black;
  }

  footer #div-footer {
    width: 25%;
    height: 100%;
    color: white;
    display: inline-block;
    float: left
  }

  .footer {
    width: 80%;
    height: 80%;
    /*border: solid white 2px;*/
    margin: 20px 100px;
  }

  .footer a {
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 12px;
  }

  .div-footer {
    width: 25%;
    height: 100%;
    color: white;
    display: inline-block;
    float: left;
  }

  .div-footer ul {
    list-style-type: none;
  }

  .footer p {
    font-family: arial;
    font-size: 12px;
  }

  .icon::before {
   content:'\f105';
   font-family:'Font Awesome 5 Free'
   font-weight:900;
  }

  #name-form {
    width: 150px;
  }
  #submit-button {
    color: black;
  }
  .copyright {
    background-color: black;
    color: white;
    text-align: center;
  }
}

/*For tablets*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .dropdown {
    display: none;
  }
  .header {
    overflow: hidden;
    background-color: royalblue;
    /*padding: 20px 10px;*/
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0 0 0 100px;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  #search-icon {
    float: left;
  }
  
  .head-image {
    width: 100%;
    height: 100%;
  }

  section h3 {
    text-align: center;
    font-weight: bold;
  }

  #about-us, #our-team {
    margin: 10px 10px;
  }
  .footer {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: black;
    color: white;
  }

  .div-footer ul {
    list-style-type: none;
  }
  .div-footer a {
    color: white;
  }

  #name-form {
    width: 90%;
  }
  #submit-button {
    color: black;
  }
  .copyright {
    background-color: black;
    color: white;
    text-align: center;
  }
}

/*For phones*/
@media screen and (max-width: 767px) {
  /*body {
    background-color: yellow;
  }*/
  .header-right {
    display: none;
  }

  .head-image {
    height: 150px;
    width: 100%;
  }

  .header {
    width: 100%;
    height: 50px;
    display: inline-block;
  }

  .header .dropdown {
    float: left;
    margin: 5px 0px 5px 10px;
  }

  .header .logo {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 50px 5px 100px;
  }

  #search-icon {
    float: right;
    margin: 5px 30px 5px 0px;
  }

  section h3 {
    text-align: center;
    font-weight: bold;
  }

  #about-us {
    margin: 10px 10px;
  }

  #our-team {
    margin: 10px 10px;
  }

  footer {
    margin: 10px 10px;
  }

  .footer {
    margin: 20px 0 0 0;
    background-color: black;
    color: white;
  }

  .div-footer ul {
    list-style-type: none;
  }

  .footer a {
    text-decoration: none;
    color: white;
    /*font-family: arial;
    font-size: 12px;*/
  }

  .footer a.visited {
    text-decoration: none;
    color: white;
    /*font-family: arial;
    font-size: 12px;*/
  }

  #submit-button {
    color: black;
  }

  .copyright {
    background-color: black;
    color: white;
    text-align: center;
  }
}