* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*For PCs*/
@media screen and (min-width: 1199px) {
  .header {
    overflow: hidden;
    background-color: royalblue;
    padding: 20px 10px;
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0 0 0 200px;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .dropdown {
    display: none;
  }

  #search-icon {
    float: left;
  }

  .header-right {
   /* display: inline-block;*/
    /*float: left;*/
    margin: 0 50px 0 500px;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  .head-image {
    width: 100%;
    height: 400px;
    /*background-image: url("../images/Banner.jpg");
    background-size: cover;*/
  }

  #contact {
    width: 60%;
    margin: 10px 20%;
  }

  #contact-info p {
    font-size: 10px;
  }

  #contact-us li {
    margin: 10px 0 5px 0;
  }

  #contact-us input {
    /*margin: 0px 10px 0px 0px;*/
    border-radius: 5px;
    width: 200px;
    float: right;
  }

  #button-send {
    margin: 15px 190px;
    padding: 10px 30px;
    background-color:orange;
    color: white;
    border: 2px solid #4CAF50;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
  }

  #map iframe {
    width: 100%;
    height: 350px;
  }

  footer {
    width: 100%;
    height: 300px;
    background-color: black;
  }

  footer #div-footer {
    width: 25%;
    height: 100%;
    color: white;
    display: inline-block;
    float: left
  }

  .footer {
    width: 80%;
    height: 80%;
    /*border: solid white 2px;*/
    margin: 20px 100px;
  }

  .footer a {
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 12px;
  }

  .div-footer {
    width: 25%;
    height: 100%;
    color: white;
    display: inline-block;
    float: left;
  }

  .div-footer ul {
    list-style-type: none;
  }

  .footer p {
    font-family: arial;
    font-size: 12px;
  }

  .icon::before {
   content:'\f105';
   font-family:'Font Awesome 5 Free'
   font-weight:900;
  }

  #name-form {
    width: 150px;
  }
  #submit-button {
    color: black;
  }
  .copyright {
    background-color: black;
    color: white;
    text-align: center;
  }
}

/*For tablets*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .dropdown {
    display: none;
  }
  .header {
    overflow: hidden;
    background-color: royalblue;
    /*padding: 20px 10px;*/
  }

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0 0 0 100px;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  #search-icon {
    float: left;
  }
  
  .head-image {
    width: 100%;
    height: 100%;
  }

  #contact h3 {
    text-align: center;
  }

  #contact-info {
    margin: 10px 10px;
  }

  #contact-us li {
    margin: 10px;
  }

  #contact-us input {
    width: 500px;
    border-radius: 5px;
    margin: 0 50px 0 0;
    float: right;
  }

  #button-send {
    margin: 0 60px 0 0;
    float: right;
    padding: 10px 30px;
    background-color:orange;
    color: white;
    border: 2px solid #4CAF50;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
  }

  #map iframe {
    width: 100%;
    height: 200px;
    margin: 10px 0 0 0;
  }

  .footer {
    margin: 0 0 0 0;
    padding: 10px;
    background-color: black;
    color: white;
  }

  .div-footer ul {
    list-style-type: none;
  }
  .div-footer a {
    color: white;
  }

  #name-form {
    width: 90%;
  }
  #submit-button {
    color: black;
  }
  .copyright {
    background-color: black;
    color: white;
    text-align: center;
  }
}

/*For phones*/
@media screen and (max-width: 767px) {

  .header-right {
    display: none;
  }

  .head-image {
    height: 150px;
    width: 100%;
  }

  .header {
    width: 100%;
    height: 50px;
    display: inline-block;
  }

  .header .dropdown {
    float: left;
    margin: 5px 0px 5px 10px;
  }

  .header .logo {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 50px 5px 100px;
  }

  #search-icon {
    float: right;
    margin: 5px 30px 5px 0px;
  }

  #contact-info {
    margin: 5px 5px;
  }

  #contact h3 {
    text-align: center;
  }

  #contact-us ul {
    list-style-type: none;
  }

  #contact-us li {
    margin: 15px -10px;
  }

  #contact-us input {
    width: 300px;
    border-radius: 5px;
    margin: 5px 5px;
  }

  #button-send-2 {
    display: none;
  }

  #button-send {
    float: right;
    margin: 10px 30px;
    padding: 5px 15px;
    background-color:orange;
    color: white;
    border: 2px solid #4CAF50;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
  }

  #map iframe {
    width: 100%;
    height: 150px;
  }

  footer {
    margin: 10px 10px;
  }

  .footer {
    margin: 20px 0 0 0;
    background-color: black;
    color: white;
  }

  .div-footer ul {
    list-style-type: none;
  }

  .footer a {
    text-decoration: none;
    color: white;
    /*font-family: arial;
    font-size: 12px;*/
  }

  .footer a.visited {
    text-decoration: none;
    color: white;
    /*font-family: arial;
    font-size: 12px;*/
  }

  #submit-button {
    color: black;
  }

  .copyright {
    background-color: black;
    color: white;
    text-align: center;
  }
}